page-select-stage {

  ion-content {
    background-image: url(../assets/imgs/selectStage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;




    .selectStage {
      padding-top: 30%;
    }


    .uk-button {
      color: #7B52AB;
      font-size: 15px;
      font-weight: bold;
      font-family: Dubai;
      border-radius: 20px;
      transform: translate(50%, 0);
      border-color: #7B52AB;
    }

    .buttonSpace1 {
      margin-bottom: 35px;
    }

    .choosestage {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -110%);
    }
  }

  .p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: Dubai;
    padding-top: 40%;
  }
}
