page-select-stage {
}

 p {
  font-size: 30px;
 color: white;
 font-weight: bold;
 font-family: 'Segoe UI';
 }
.stage {
  background-color: #245372;
  padding-bottom: 20px;

}


.bg {
  max-width: 150%;
  border: 0;
  opacity: 0.3;
  margin-left: -28px;
}

.choosestage {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -110%);
}
