page-high {

}
.highschool {
  background-color: #245372;
  padding-bottom: 20px;
}

.chooseHighClass {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90%);
}

.stylebutton2 {
  margin: -20px;
}
