page-high {

  .toolbar-title-ios {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #000;
    pointer-events: auto;
    font-family: Dubai;
  }

  .navbar {
    align-items: center;
  }

  .navbarimag {
    float: right;
  }

  .button-clear-ios-light {
    color: #7B52AB;
  }

  .button[icon-only] {
    background-color: #522B83;
  }
}
