page-tabs {




  .tabs .tabbar {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: none;
    background: #ffffff;
  }

  .tabs-md .tab-button {
    min-height: 3.0rem;
    font-weight: normal;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 1px;
    min-width: 35px;
    height: 30px;
    font-size: 33px;
    color: #b8a4d0;
  }

  .tabs-md .tab-button-icon {
    color: #cdc0dc;
  }
}
