page-first-el {
  ion-content {

    .button-clear-ios-light {
      color: #7B52AB;
    }
  }



  .viewer {
    width: 100%;
    padding-top: -50px;
  }




  .pdf-viewer {
    width: 100%;
  }

  .textLayer {
    width: 100%;
  }

  .toolbar-title-ios {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    pointer-events: auto;
    font-family: Dubai;
  }

  .navbar {
    align-items: center;
  }

  .navbarimag {
    float: right;
  }

  .button[icon-only] {
    background-color: #522B83;
  }
}

