page-chat {

  ion-content {
    background-image: url(../assets/imgs/chat.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-ios {
    text-align: right;
  }

  .uk-background-default {
    background-color: #7B5DA0;
    border-radius: 49px;
    color: white;
    font-size: 21px;
  }

  [class*=uk-width] {
    box-sizing: border-box;
    width: 80%;
  }

  .item-input ion-label {
    color: #7B52AB;
    font-size: 21px;
    font-family: Dubai;
  }

  

  .text-input-ios {
    text-align: right;
    font-family: Dubai;
    font-size: 21px;
  }

  .uk-button:not(:disabled) {
    cursor: pointer;
    padding: 5px;
  }

  .button-inner {
    background-color: #7B52AB
  }

  .form {
    padding-top: 45%;
  }

  .bs {
    padding-top: 1%;
  }
}



