page-view-pdf {


  .pdf-viewer {
    width: 100%;
  }

  .textLayer {
    width: 100%;
  }



  .toolbar-title {
    color: #fff;
    text-align: center;
    font-family: Dubai;
    font-size: 12px;
  }



  






  .button-clear-md-light {
    color: #7B52AB;
  }

  .button[icon-only] {
    background-color: #522B83;
  }
}

page-user-profile-update .button-md {
  color: #7B52AB;
  background-color: #ffffff;
  box-shadow: none;
}

page-user-profile-update .input-wrapper {
  color: #522B83;
  font-size: 20px;
  text-align: right;
  font-family: Dubai;
  font-weight: bold;
}

