page-view-pdf {


  .pdf-viewer {
    width: 100%;
  }

  .textLayer {
    width: 100%;
  }

  .toolbar-title-ios {
    position: inherit;
  }

  .styleNav {
    position: absolute;
    left: 7%;
    transform: translate(-50%, -78%);
  }
}
