page-user-profile-update {


  ion-content {
    background-image: url(../assets/imgs/profile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }





  .uk-modal-title {
    font-size: 20px;
    line-height: 1.3;
    color: #522B83;
    font-weight: bold;
    font-family: Dubai;
    text-align: right;
  }

  .button-md {
    color: #7B52AB;
    background-color: #ffffff;
  }

  .item-md {
    text-align: right;
  }



  [class*=uk-width] {
    box-sizing: border-box;
    width: 80%;
  }

  .item-input ion-label {
    color: #522B83;
    font-size: 18px;
    font-family: Dubai;
  }

  .text-input-md {
    text-align: right;
    font-family: Dubai;
    font-size: 18px;
  }

  .uk-button:not(:disabled) {
    cursor: pointer;
    padding: 5px;
  }


  .button-ios {
    color: #7B52AB;
    background-color: #fff;
  }



  .form {
    padding-top: 45%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
  }


  

  .bs {
    padding-top: 5%;
  }

  .input-wrapper {
    color: #522B83;
    font-size: 20px;
    text-align: right;
    font-family: Dubai;
    font-weight: bold;
  }

  ion-label {
    padding: 5%;
    border-bottom: 1px solid #7B52AB;
    width: 90%;
  }
}





#modal-example {
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .text-input-ios {
    text-align: right;
    font-family: Dubai;
    font-size: 18px;
    color: #522B83;
  }

  .text-input-md {
    color: #522B83;
    text-align: right;
    font-family: Dubai;
    font-size: 18px;
  }

  .list-md {
    margin: 0;
    border: none;
  }

  .uk-background-primary {
    background-color: #7B5DA0 !important;
    border-radius: 19px;
    color: white !important;
    font-size: 12px;
  }

  .uk-background-default {
    border-radius: 19px;
    border: 1px solid #7B5DA0 !important;
    color: #7B5DA0;
    font-size: 12px;
  }

  .titleEdit {
    color: #7B52AB;
    font-family: Dubai;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
  }

  .custom-select {
    position: relative;
    font-family: Dubai;
    border: 0;
    font: 32px
  }
}



