page-fifth-adaby {

  .toolbar-title-md {
    color: #fff;
    text-align: center;
    font-family: Dubai;
    font-size: 18px;
  }

  ion-content {
  }








  .button-clear-md-light {
    color: #7B52AB;
  }

  .button[icon-only] {
    background-color: #522B83;
  }
}
